services:
  booking_service:
    build: .
    ports:
      - "5054:5054"
      - "9181:9181"

    environment:
      FLASK_APP: app.py
      FLASK_RUN_HOST: 0.0.0.0
      DEBUG_MODE: "true"

      DATABASE_URI: "postgresql://neondb_owner:Od9UnVJ2Wvfr@ep-patient-sound-a8cq577j-pooler.eastus2.azure.neon.tech/neondb?sslmode=require"

      REDIS_URL: "rediss://red-culflulds78s73bqveqg:h6uqD1Bivbn7K5y3RRSECELE2Jwp2us3@oregon-redis.render.com:6379/0"
      REDIS_SSL: "true"

      MAIL_SERVER: mail.smtp2go.com
      MAIL_PORT: "2525"
      MAIL_USE_TLS: "true"
      MAIL_USE_SSL: "false"
      MAIL_USERNAME: support@hashforgamers.co.in
      MAIL_PASSWORD: "h3b:@yasDm"
      MAIL_DEFAULT_SENDER: support@hashforgamers.co.in

      RAZORPAY_KEY_ID: dummyValue
      RAZORPAY_KEY_SECRET: dummyvalue

    volumes:
      - .:/app

    command: >
      sh -c "
        gunicorn -k eventlet -w 1 app:app -b 0.0.0.0:5054 --timeout 120 &
        rq worker booking_tasks --url \"$$REDIS_URL\" &
        rq-dashboard --redis-url \"$$REDIS_URL\" --port 9181 &
        rqscheduler --url \"$$REDIS_URL\" --interval 60
      "
