Flask==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
psycopg2-binary==2.9.6
Werkzeug==2.3.4
Flask-Mail
Flask-SocketIO
python-socketio
flask-cors
gevent>=24.10.1
redis
gevent-websocket
rq
rq-scheduler
rq-dashboard
redis-cli
pytz
requests
razorpay
firebase-admin
pyjwt
cryptography
gunicorn[gevent]>=26.0.0,<27.0.0
flask-socketio
